html {
  &.dark {
    --top-header-bg-color: #211c1c;
    // --top-header-border-shadow:#0b0b0b75;
    --page-body-bg-color: #211c1c;
    --main-body-bg-color: #1d1e1f;
    --left-aside-bg-color: #211c1c;
    --dialog-border-color: #414243;
    // --left-aside-border-right-color: #2b2f3a;
    --el-text-color-secondary: #c5c5c5;
    --dialog-title-text-color: #c4cddd;

  }
}

:root {
  --top-header-bg-color: #122060;
  --top-header-border-shadow: #dddddd75;
  --page-body-bg-color: #f1f4fb;
  --main-body-bg-color: #ffffff;
  --left-aside-bg-color: #122060;
  --left-aside-border-right-color: #484640;
  --left-aside-border-color-lighter: #484640;
  --dialog-border-color: #e4e7ed;
  --dialog-title-text-color: #172b4d;
}
