@font-face {
  font-family: "iconfont"; /* Project id 4151177 */
  src: url('iconfont.woff2?t=1702870672378') format('woff2'),
       url('iconfont.woff?t=1702870672378') format('woff'),
       url('iconfont.ttf?t=1702870672378') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-access-control:before {
  content: "\ecf7";
}

.icon-strategy:before {
  content: "\ecf6";
}

.icon-layout:before {
  content: "\ecf5";
}

.icon-log:before {
  content: "\ecf4";
}

.icon-data-encryption:before {
  content: "\eccd";
}

.icon-data-add:before {
  content: "\ecce";
}

.icon-databases:before {
  content: "\eccf";
}

.icon-sqlserver:before {
  content: "\ecd0";
}

.icon-data-security:before {
  content: "\ecd1";
}

.icon-data-setting:before {
  content: "\ecd2";
}

.icon-data-desensitization:before {
  content: "\ecd3";
}

.icon-file-setting:before {
  content: "\ecd4";
}

.icon-sql:before {
  content: "\ecd5";
}

.icon-watermark:before {
  content: "\ecd6";
}

.icon-data-conversion:before {
  content: "\ecd7";
}

.icon-PostgreSQL:before {
  content: "\e8b7";
}

.icon-Mysql:before {
  content: "\e788";
}

.icon-database-server:before {
  content: "\ecd8";
}

.icon-list:before {
  content: "\ecd9";
}

.icon-dba:before {
  content: "\ecda";
}

.icon-data-link:before {
  content: "\ecdb";
}

.icon-data-user:before {
  content: "\ecdc";
}

.icon-user:before {
  content: "\ecdd";
}

.icon-files:before {
  content: "\ecde";
}

.icon-hamburger-left:before {
  content: "\ecdf";
}

.icon-hamburger-right:before {
  content: "\ece0";
}

.icon-number-code:before {
  content: "\e65a";
}

.icon-security:before {
  content: "\e635";
}

.icon-usernav:before {
  content: "\ece1";
}

.icon-password:before {
  content: "\ece2";
}

.icon-rule-setting:before {
  content: "\ece3";
}

.icon-template:before {
  content: "\ece4";
}

.icon-monitor:before {
  content: "\ece5";
}

.icon-tip-info:before {
  content: "\ece7";
}

.icon-logs:before {
  content: "\ece8";
}

.icon-menu:before {
  content: "\ece9";
}

.icon-user-filling-circle:before {
  content: "\ecea";
}

.icon-signout:before {
  content: "\eceb";
}

.icon-users:before {
  content: "\ecec";
}

.icon-task:before {
  content: "\eced";
}

.icon-user-filling:before {
  content: "\ecee";
}

.icon-function:before {
  content: "\ecef";
}

.icon-database:before {
  content: "\ecf0";
}

.icon-access-list:before {
  content: "\ecf1";
}

.icon-upgrade:before {
  content: "\ecf2";
}

.icon-setting:before {
  content: "\ecf3";
}

